/* Import Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Global styles */
* {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Body styles */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 244, 244);
    background-image: url(../assets/cryptoImageG-B14.jpeg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* for anytime we need to hide something */
.hidden {
    height: 0;
    display: none;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-around;
    margin-bottom: 45px;
    padding: 1rem;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

/* Logo styles */
.logo img {
    height: 90px;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.logo img:hover {
    cursor: pointer;
    transform: scale(1.10);
}

/* Search bar styles */
#searchBar {
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.8rem;
    width: 300px;
    margin-right: 5px;
    font-size: 15px;
}

#searchBar:hover {
    background: rgb(189, 182, 182);
}

#searchBar:focus {
    border: 2px solid linear-gradient(#000, #023460);
}

/* Navigation styles */
nav {
    margin-bottom: 15px;
    margin-right: 110px;
    font-size: 20px;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3px;
}

.navbar li {
    margin-right: 20px;
}

.navbar li a {
    color: #464545;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar li a:hover {
    background: -webkit-linear-gradient(#034c8b, #1d83f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile {
    border-radius: 50% 50%;
    height: 60px;
    width: 60px;
    background-color: #1d83f1;
    border: 3.5px solid #368eecc7;
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: 2;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#000, #1d83f1);
    transition: all 0.4s ease;
}

.profile:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.profile:active {
    transform: scale(0.9);
}

/* protifolio disply styles */
.exitProtifolio {
    position: absolute;
    right: 8px;
    top: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.exitProtifolio:hover{
    transform: rotate(360deg) scale(1.5);
    color: #034c8b;
}

.exitProtifolio:active{
    color: red;
}

.protifolioDisplay {
    width: 350px;
    height: auto;
    position: absolute;
    top: 120px;
    right: 100px;
    background-color: #8aa4fa;
    padding: 1rem;
    padding-top: 40px;
    border-radius: 6px;
    z-index: 1;
    /* coin cards shouldn't block the protofolio on hover */
}

.protifolioDisplayCard {
    margin-top: 3px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.8rem;
    align-items: center;
}

.protifolioDisplayCard:first-child {
    margin-top: 65px;
}

.protifolioDisplayCard:hover {
    background-color: #ddd;
}

.protifolioDisplayCard:hover button {
    background-color: #fff;
}

.removeFromProtifolio {
    padding: 0.5rem;
    background-color: #ddd;
    font-weight: bold;
    margin: 3px;
    border-radius: 4px;
    cursor: pointer;
}

.removeFromProtifolio:hover {
    background-color: #5e5d5d;
    color: #fff;
}

/* Coin grid styles */
.coins {
    margin-top: 165px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* add coin button */
.addCoinButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #bacdbb;

    /* 3D effect */
    box-shadow: 0 2px 4px #00000033, 0 4px 8px #0000001a;
    transform: translateY(-2px) translateZ(2);
    transition: transform 0.2s ease;
}


.coinAdded {
    /* Popped-in look when active */
    transform: translateY(0);
    background-color: #0c7dbe;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addCoinButton:hover {
    /* Adjust the values to customize the hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}


.addCoinButton.active:hover {
    /* Still apply the hover effect when active */
    transform: translateY(-1px);
}

.addCoinButton::after {
    background-color: rgb(14, 162, 49);
}

/* coin added message  */
.addToCoinStatus{
    position: absolute;
    top: 45%;
    left: 15%;
    border-radius: 8px;
    background-color: #d9ff00b7;
    color: #fff;
    height: 100px;
    width: 700px;
    animation-duration: 3s;
    animation-name: appear;
    animation-iteration-count:infinite;;
}

@keyframes appear {
    0%{
        opacity: 30%;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* favorite icon */
.bxs-heart{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #ddd;
}

.favorite{
    color: #d7c610;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);  
}

/* Button styles */
.getRateButton {
    padding: 1rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: linear-gradient(45deg, #c4be18, #f0eb3b);
    border-radius: 50%;
    width: 112px;
    height: 112px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Border styles */
    border-width: 4px;
    border-color: #d8d800;
    border-style: solid;
}

.getRateButton:hover {
    background: linear-gradient(45deg, #c2bc18, #dcd636);
    color: #fff;
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.getRateButton:active {
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Coin card styles */
.coinCard {
    box-sizing: border-box;
    background: #fff;
    padding: 8rem;
    width: 80px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    animation: fadeIn .2s linear;
}


/* Animation styles */
@keyframes fadeIn {
    0% {
        transform: scale(.5) translateY(-10px);
        opacity: 0;
    }
}

/* Currency selector styles */
.currencySelector {
    display: flex;
    gap: 10px;
}

.currencySelectorButton {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 25px;
    background: linear-gradient(#023460, #000);
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px #0000001a;
}

.currencySelectorButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.currencySelectorButton:focus {
    outline: none;
}

.currencySelectorButton:active {
    transform: scale(0.95);
}

.selectedCurrency {
    background: linear-gradient(#000, #023460);
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
}

.coinName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cryptoIcons {
    height: 100px;
    width: 100px;
}

.coinPrice {
    font-size: 18px;
    margin-top: 10px;
    padding-top: 1rem;
}

.pastDayChange {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #4a4a4aec;
    font-size: smaller;
    align-content: center;
}

.up {
    color: #0e980e;
}

.down {
    color: red;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #a6aaac4c;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.5s ease;
}

.coinCard:hover .overlay {
    bottom: 0;
    height: 100%;
}

.coinCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


/* Footer styles */
footer {
    background: linear-gradient(#006dad, #023460a2);
    padding: 1rem;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-navbar li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-navbar li a:hover {
    background: -webkit-linear-gradient(#0c7dbe, #0f599a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* color: #fff; */
}

.footer-logo img {
    height: 55px;
    width: auto;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    display: flex;
    gap: 10px;
}

.social-media li a {
    color: #333;
    font-size: 25px;
    background: linear-gradient(#023460, #000);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-media li a:hover {
    transform: scale(1.1);
    background: linear-gradient(#000, #023460);
}

.social-media li a:focus {
    outline: none;
}

.social-media li a:active {
    transform: scale(0.95);
}

.social-media li a:hover .footerIcons {
    color: #eaf1ff;
    outline-color: #eaf1ff;
    transform: scale(1.05);
    background: linear-gradient(#000, #023460);
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.chatButtons {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 3px;
    left: auto;
    right: 15px;
    bottom: 20px;
    z-index: 9999;
}

.chatBot,
.bxs-chevron-up {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #1d83f1;
}

.chat,
.scrollButton {
    background-color: #023460;
    color: #1d83f1;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.chat:hover,
.scrollButton:hover,
.scrollButton a:hover {
    background-color: #1d83f1;
    color: #fff;
    transform: scale(1.05);
}

.chat:focus,
.scrollButton:focus {
    outline: none;
}



/* Media query for smaller screens */
@media only screen and (max-width: 767px) {
    header{
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
        height: 30px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .coins{
        display: flex;
        flex-direction: column;
    }
    .coinCard {
        width: 90vw;
        justify-content: flex-start;
        padding: 20px;
        height: 80px;
        text-align: left;
        gap: 3px;
        margin: 0;
    }

    .coinSymbol {
        margin-top: auto;
        order: -1;
        height: 65px;
    }

    img {
        height: 70px;
        width: 70px;
    }

    .getRateButton {
        position: static;
        margin-top: 10px;
        transform: none;
        top: auto;
        left: auto;
        right: auto;
    }

    /* Adjust logo styles */
    .logo img {
        height: 150px;
        width: 150px;
    }

    /* Adjust search bar styles */
    #searchBar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* Adjust currency selector styles */
    .currencySelector {
        flex-direction: column;
    }
}