





.coinDisplay:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.coinName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.coinSymbol {
    font-size: 14px;
    color: #888888;
}

.coinPrice {
    font-size: 18px;
    margin-top: 10px;
}

/* .coinDisplay{
    box-sizing: border-box;
    background: white;
    width: 50px;
    /* padding: 8rem; */
    /* display: flex;
    flex-direction: column;
    border: 0.1px solid white;
    margin: 8px; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between;
    align-items: center;
    border-radius: 4px;
} */ 

.coinDisplay:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* .coins{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    align-items: stretch;
} */

 button{
  
} 

.button:hover{
    background: #cbcbdc;
}

.button:active{
    transform: scale(0.90);
}

#search{
    border-radius: 4px;
    box-sizing: border-box;
    padding: 1rem;
    margin-left: 80%;
    margin-bottom: 35px;
}

#search:hover{
    background: rgb(189, 182, 182);
}