
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    --color-primary: #3030ba;
    --color-darker: #2c2ce8;
    --color-error: #cc333c;
    --color-success: #24d524;
    --border-radius: 4px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: flex-start;
    width: 100%;
    font-family: 'Poppins', sans-serif;;
    background: var(--color-primary);
    background: url(../assets/boyTzedakahCropped.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.logoDiv{
   margin-right: auto;
   margin-left: 20px;
}

.login__form >* :first-child,
.signUp__form >* :first-child{
    margin-top: 0;
}

.login__form >* :last-child
.signUp__form >* :last-child{
    margin-bottom: 0;
}

/* .logInFormBackground{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 800px;
} */

.container {
    margin-top: 5rem;
    /* height: 100vh; */
    width: 400px;
    max-width: 400px;
    background: #ffff;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 2.5rem;
    position: absolute;
    opacity: 90%;
}

.arrow{
    color: #3373cc;
    font-size: 15px;
}

/* .formImage{
    width: 400px;
    max-width: 400px;
    position: absolute;
} */

.backFromForm{
    display: flex;
    margin-right: 90%;
    color: #1201fa;
    font-size: 20px;
}

.formHidden {
    display: none;
}

.inputGroup{
    margin-bottom: 1rem;
}

.formInput{
    opacity: 100%;
    display: block;
    outline: none;
    width: 100%;
    padding: 0.95rem;
    box-sizing: border-box;
    border: 1.5px solid #dddd;
    background: #b8b8b8dd;
    transition: background 0.2s border-color 0.2s;
    margin-bottom: 1.5rem;
    border-radius: var(--border-radius);
    
}

.formInput:focus{
    background: #ffffff;
}

button{
    margin-top: 3rem;
    width: 40%;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0.65rem;
    background: var(--color-primary);
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}

button:hover{
    background-color: var(--color-darker);
}

button:active{
    transform: scale(0.98);
}

a{
    text-decoration: none;
    font-size: 17px;
}

a:hover{
    text-decoration: underline;
}

.input__error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.input__success{
    color: var(--color-success);
    border-color: var(--color-success);
}